@import normalize.css

// Colors
$main-blue: #0D0086
$main-red: #ff0000
$secondary-blue: #30398F
$dark-gray: #2C2C2C

$header-fonts: 'Ubuntu', sans-serif
$body-fonts: 'Inconsolata', sans-serif
$secondary-fonts: 'Ubuntu Condensed', sans-serif

*
	box-sizing: border-box
	
body
	overflow-y: scroll
	overflow-x: hidden
	
::-webkit-scrollbar
	display: none

%container
	padding: 12px 60px
	margin: 0 auto
	width: 98%
	max-width: 1200px	
		
%inner-container
	width: 600px
	margin: 80px auto 
	
	@media only screen and (max-width: 667px) 
		width: 90%
	
	h1
		text-align: center
	
%box-shadow
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35)

%flexbox-box
	display: flex
	flex-flow: row wrap
	justify-content: space-between

h1, h2, h3, h4, h5
	font-family: $header-fonts
	margin: 16px 0

h1
	font-size: 2rem

h2
	font-size: 1.8rem

h3
	font-size: 1.4rem

h4
	font-size: 1.2rem

p, ul
	font-family: $body-fonts
	color: $dark-gray
	line-height: 1.5
	
a 
	color: $main-blue
	
	
.hideme.hideme.hideme
	opacity: 0
	transform: translateY(20px)

form
	font-family: $body-fonts
	margin-bottom: 60px
	label 
		width: 100%
		display: block
		margin: 18px 0
		
	input 
		border: none
		border-bottom: 1px solid $main-blue
		
	input, textarea
		font-family: $body-fonts
		display: block
		width: 600px
		padding: 16px 0 4px
		
		@media only screen and (max-width: 667px) 
			width: 100%
	
	textarea
		height: 200px
		border: 1px solid $main-blue
		margin-top: 12px
			
	input[type="submit"]
		border: none
		background: $main-blue
		padding: 12px 20px
		color: white
		width: 170px