<template>
	<div class="email-phone">
		<div class="email">
			<p>Escribenos: <span class="email"><a href="mailto:info@digiartes.com">info@digiartes.com</a></span></p>
		</div>
		<div class="phone">
			<p>Llámenos: <span class="phone"><a href="tel:+5073220013">+(507)322-0013</a></span></p>
		</div>
	</div>
</template>

<style lang="sass">
	@import ../../assets/sass/main.sass
	.email-phone
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: center 
		
		@media only screen and (max-width: 667px)	
			display: none

		& > div p
			color: white
	
	.email
		margin-right: 20px
	
	span
			
		a
			padding: 4px 16px
			background: $main-red
			color: white
			text-decoration: none
			display: inline-block
			transition: all 0.25s ease-in-out
			@extend %box-shadow
				
			&:hover
				transform: scale(1.025)
				box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.35)
			
</style>