<template lang="pug">
	div.logo-navigation
		div.logo-contact-info
			logo
			contact-info
		navigation
</template>

<script>
import Logo from '~/components/HeaderComponents/Logo.vue'
import ContactInfo from '~/components/HeaderComponents/ContactInfo.vue'
import Navigation from '~/components/HeaderComponents/Navigation.vue'

export default {
	components: {
		Logo,
		ContactInfo,
		Navigation
	}
}
</script>

<style lang="sass">
	@import ../../assets/sass/main.sass
	.logo-navigation
		@extend %container
		
		@media only screen and (max-width: 667px)
			padding: 0
			margin: 0
			width: 100% 
		

	.logo-contact-info
		@extend %flexbox-box
		position: relative
</style>
