<template>
  <div class="digiartes-logo">
  	<div class="mobile-phone">
  		<a href="tel:66794458">
  			<img src="/images/phone.svg" alt="">
  		</a>
  	</div>
	
    <svg id="logo" 
       xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       width="135px" height="41px">
      <path fill-rule="evenodd"  fill="rgb(241, 243, 255)"
       d="M125.433,24.874 C125.433,26.268 126.132,26.965 127.527,26.965 L130.577,26.965 C133.525,26.965 135.000,28.428 135.000,31.354 C135.000,34.300 133.525,35.773 130.577,35.773 L123.879,35.773 L123.879,33.444 L130.577,33.444 C131.971,33.444 132.669,32.747 132.669,31.354 C132.669,29.980 131.971,29.294 130.577,29.294 L127.527,29.294 C124.577,29.294 123.102,27.821 123.102,24.874 C123.102,21.948 124.577,20.485 127.527,20.485 L133.596,20.485 L133.596,22.815 L127.527,22.815 C126.132,22.815 125.433,23.501 125.433,24.874 ZM116.555,29.294 L110.636,29.294 L110.636,26.965 L116.555,26.965 C117.950,26.965 118.648,26.378 118.648,25.203 L118.648,24.576 C118.648,23.402 117.950,22.815 116.555,22.815 L111.353,22.815 C109.978,22.815 109.290,23.501 109.290,24.874 L109.290,31.354 C109.290,32.747 109.978,33.444 111.353,33.444 L119.664,33.444 L119.664,35.773 L111.353,35.773 C108.423,35.773 106.958,34.300 106.958,31.354 L106.958,24.874 C106.958,21.948 108.423,20.485 111.353,20.485 L116.555,20.485 C119.504,20.485 120.979,21.849 120.979,24.576 L120.979,25.203 C120.979,27.930 119.504,29.294 116.555,29.294 ZM103.865,35.773 L101.534,35.773 L101.534,22.815 L99.126,22.815 L98.814,22.815 L95.768,22.815 C94.394,22.815 93.706,23.501 93.706,24.874 L93.706,35.773 L91.374,35.773 L91.374,24.874 C91.374,21.948 92.839,20.485 95.768,20.485 L98.814,20.485 L99.126,20.485 L101.534,20.485 L101.534,13.976 L103.865,13.976 L103.865,20.485 L105.091,20.485 L105.091,22.815 L103.865,22.815 L103.865,35.773 ZM85.403,35.773 L80.201,35.773 C77.272,35.773 75.807,34.390 75.807,31.623 L75.807,31.055 C75.807,28.329 77.272,26.965 80.201,26.965 L86.121,26.965 L86.121,29.294 L80.201,29.294 C78.826,29.294 78.138,29.881 78.138,31.055 L78.138,31.623 C78.138,32.837 78.826,33.444 80.201,33.444 L85.403,33.444 C86.779,33.444 87.466,32.747 87.466,31.354 L87.466,24.874 C87.466,23.501 86.779,22.815 85.403,22.815 L77.122,22.815 L77.122,20.485 L85.403,20.485 C88.333,20.485 89.798,21.948 89.798,24.874 L89.798,31.354 C89.798,34.300 88.333,35.773 85.403,35.773 ZM70.605,20.485 L72.967,20.485 L72.967,35.773 L70.605,35.773 L70.605,20.485 ZM70.605,13.976 L72.937,13.976 L72.937,16.574 L70.605,16.574 L70.605,13.976 ZM63.102,40.938 L57.392,40.938 L57.392,38.639 L63.102,38.639 C64.496,38.639 65.194,37.942 65.194,36.549 L65.194,24.874 C65.194,23.501 64.496,22.815 63.102,22.815 L57.900,22.815 C56.525,22.815 55.837,23.501 55.837,24.874 L55.837,31.354 C55.837,32.747 56.525,33.444 57.900,33.444 L63.819,33.444 L63.819,35.773 L57.900,35.773 C54.970,35.773 53.505,34.300 53.505,31.354 L53.505,24.874 C53.505,21.948 54.970,20.485 57.900,20.485 L63.102,20.485 C66.051,20.485 67.526,21.948 67.526,24.874 L67.526,36.549 C67.526,39.475 66.051,40.938 63.102,40.938 ZM48.094,20.485 L50.456,20.485 L50.456,35.773 L48.094,35.773 L48.094,20.485 ZM48.094,13.976 L50.426,13.976 L50.426,16.574 L48.094,16.574 L48.094,13.976 ZM40.590,35.773 L35.388,35.773 C32.459,35.773 30.994,34.300 30.994,31.354 L30.994,24.874 C30.994,21.948 32.459,20.485 35.388,20.485 L41.308,20.485 L41.308,22.815 L35.388,22.815 C34.013,22.815 33.326,23.501 33.326,24.874 L33.326,31.354 C33.326,32.747 34.013,33.444 35.388,33.444 L40.590,33.444 C41.985,33.444 42.683,32.747 42.683,31.354 L42.683,13.976 L45.015,13.976 L45.015,31.354 C45.015,34.300 43.540,35.773 40.590,35.773 ZM27.513,7.335 L27.513,18.986 L15.847,13.160 L27.513,7.335 ZM14.691,-0.001 L26.357,5.825 L14.691,11.650 L14.691,-0.001 ZM12.821,29.344 L12.821,40.995 L1.155,35.170 L12.821,29.344 ZM12.821,14.672 L12.821,26.322 L1.155,20.497 L12.821,14.672 ZM-0.000,33.659 L-0.000,22.008 L11.666,27.833 L-0.000,33.659 ZM14.691,26.322 L14.691,14.672 L26.357,20.497 L14.691,26.322 ZM14.691,40.995 L14.691,29.344 L26.357,35.170 L14.691,40.995 Z"/>
    </svg>

	<div class="mobile-menu" @click="openDrawer">
		<img src="/images/mobile-menu2.svg" alt="">
	</div>
  </div>
</template>

<script>
	import { EventBus } from '~/assets/js/EventBus'
	export default {
		methods: {
			openDrawer () {
				EventBus.$emit('openDrawer')
			}
		}
	}
</script>

<style lang="sass">
	@import ../../assets/sass/main.sass
	.mobile-phone, .mobile-menu
		display: none
	
	@media only screen and (max-width: 667px) 
		.mobile-phone, .mobile-menu
			display: block

		.digiartes-logo  
			display: flex
			flex-flow: row nowrap
			justify-content: space-between 
			align-items: center
			z-index: 10
		 
			padding: 20px
			width: 100%
			background: linear-gradient(90deg, $main-red, $main-blue)
	
</style>