<template lang="pug">
	.navigation(v-bind:class="{ showNav }" @click="toggleNavDrawer")
		nuxt-link(to="/")
			img(src="../../static/images/inicio.svg")
			| Inicio
		nuxt-link(to="/quienes-somos")
			img(src="../../static/images/quienes-somos.svg")
			| Quiénes Somos
		nuxt-link(to="/servicios")
			img(src="../../static/images/servicios.svg")
			| Nuestros Servicios
		nuxt-link(to="/contactenos")
			img(src="../../static/images/contactenos.svg")
			| Contáctenos
		nuxt-link(to="/portal-clientes")
			img(src="../../static/images/login.svg")
			| Portal de Clientes
</template>

<style lang="sass">
	@import ../../assets/sass/main.sass

	.navigation
		background: $main-blue
		@extend %flexbox-box
		justify-content: space-between
		align-items: stretch
		align-content: stretch
		@extend %box-shadow

		a
			display: block
			padding: 12px 42px
			flex-grow: 1
			text-decoration: none
			white-space: nowrap
			color: white
			font-family: $header-fonts
			transition: all 0.6s ease-out
			display: flex
			align-items: center
			
			img 
				margin-right: 12px

			&:hover
				background-color: darken($main-blue, 10%)

			&.nuxt-link-exact-active
				background: $main-red
				
	@media only screen and (max-width: 667px) 
		.navigation
			display: block
			font-size: 1.4rem
			position: absolute
			top: -325px
			left: 0 
			right: 0
			z-index: 1
			pointer-events: none 
			opacity: 0.5
			transition: all 0.25s ease-in-out

			a
				padding: 20px 40px
			
			&.showNav 
				pointer-events: initial
				top: 83px
				opacity: 1
</style>

<script>
	import { EventBus } from '~/assets/js/EventBus'

	export default {
		data () {
			return { showNav: false }
		},
		methods: {
			toggleNavDrawer () {
				this.showNav = !this.showNav
			}
		},
		mounted () {
			EventBus.$on('openDrawer', this.toggleNavDrawer)
		}
	}
</script>