<template>
	<div id="video">
		<video autoplay loop muted>
			<source src="/movies/working-with-espresso.webm" type="video/webm">
			<source src="/movies/working-with-espresso.mp4" type="video/mp4">
	  </video>
	</div>
</template>

<style lang="sass">
	@import ../../assets/sass/main.sass
	#video 
		position: absolute
		width: 100%
		height: 100%
		border-radius: 5px
		background-attachment: scroll
		background: $secondary-blue
		overflow: hidden
		z-index: -10
		
		video 
			position: relative
			min-width: 100% 
			min-height: 100%

</style>