<template lang="pug">
.pages-header
	logo-navigation
</template>

<script>
import LogoNavigation from '~/components/HeaderComponents/LogoNavigation.vue'

export default {
	components: {
		LogoNavigation
	}
}
</script>

<style lang="sass">
@import ../assets/sass/main.sass

.pages-header
	background:
		image: url('../assets/images/header-background-digiartes.jpg')
		size: cover
		position: center top
		repeat: no-repeat
		color: $main-blue
	display: flex
	align-items: center
</style>