<template lang="pug">
section#footer
	footer
		.footer-container
			.footer-logo-about
				.footer-logo
					img(src='../static/images/footer-logo.svg')
				.about
					h3 Quiénes Somos
					p Digiartes es una empresa de Diseño y Desarrollo de Software con un enfoque en la web y las apps móviles establecida en la ciudad de Panamá en el 2012.

			.footer-contact-info
				h3 Contáctanos
				h5 Escríbenos:
				p #[a(href='mailto:info@digiartes.com') info@digiartes.com]
				h5 Llámenos:
				p #[a(href='tel:+5073220013') +(507) 322-0013]
			
			.footer-newsletter
				h3 Mantente Informado
				p Con nuestro boletín informativo podrás aprender más de nuestros servicios
				form(method='post')
					input(type='email' placeholder='Correo Electrónico')
					button(type='submit')
						img(src='../static/images/airplane.svg')
	footer.copyright
		.footer-container
			.footer-copyright
				p Digiartes, S. A. 2012 - {{ currentYear }} &copy; Todos los derechos Reservados
			.made-with-love
				p Hecho con #[img(src='../static/images/heart.svg')] en la Ciudad de Panamá
</template>

<script>
const currentDate = new Date()
export default {
	data () {
		return {
			currentYear: currentDate.getFullYear()
		}
	}
}
</script>

<style lang="sass">

@import ../assets/sass/main.sass

footer
	background: $main-blue
	padding: 30px 0

	p, h3, h5
		color: white

.footer-container
	@extend %container
	@extend %flexbox-box
	font-size: 0.9rem
	
	@media only screen and (max-width: 667px) 
		padding: 12px 60px 

	& a
		color: white
		text-decoration: none

.footer-logo-about
	@extend %flexbox-box
	align-items: center
	width: 33%
	
	@media only screen and (max-width: 667px) 
		width: 100%

	.footer-logo
		
		width: 30%
	
		@media only screen and (max-width: 667px) 
			width: 100%
			
	.about 
		width: 60%
		
		@media only screen and (max-width: 667px) 
			width: 100%
	

.footer-contact-info
	width: 220px 
		
	@media only screen and (max-width: 667px) 
		width: 100%

	& h4
		margin-bottom: 0

	& p
		margin: 8px 0

.footer-newsletter
	width: 30%
	
	@media only screen and (max-width: 667px) 
		width: 100%

	form
		display: flex
		align-items: center
	input
		font-size: 0.9rem

	input[type='email']
		padding: 10px 20px
		width: 80%
		border: none

	button[type='submit']
		padding: 8px 4px
		width: 20%
		text-align: center
		color: white
		border: none
		background-color: $main-red

footer.copyright
	background: darken($main-blue, 10%)

	@media only screen and (max-width: 667px) 
		.made-with-love 
			width: 100%
		
		
	p
		margin: 4px
		
		@media only screen and (max-width: 667px) 
			text-align: center
		
		
		svg
			vertical-align: middle
			


</style>