<template lang="pug">
  form(@submit.prevent="sendMail")
    label Nombre #[small (necesario)]
        input(type="text" placeholder="Tú Nombre" v-model="name")
    label Correo Electrónico #[small (necesario)]
        input(type="email" placeholder="tu@correo.com" v-model="email")
    label(v-show="notOk") Confirmar Electrónico #[small (necesario)]
        input(type="email" placeholder="tu@correo.com" v-model="confirmEmail")
    label Móbil #[small (opcional)]
        input(type="tel" placeholder="+5076679445" v-model="mobile")
    label Mensaje
        textarea(v-model="message")

    input(type="submit" v-model="enviar" :disabled="disabled" @click.prevent="sendMail")
</template>

<script>
import axios from 'axios'
export default {
	data () {
		return {
			notOk: false,
			disabled: false,
			enviar: 'Enviar',
			confirmEmail: '',
			name: '',
			email: '',
			mobile: '',
			message: ''
		}
	},
	methods: {
		sendMail () {
			if (this.name === '' || this.email === '' || this.confirmEmail !== '') {
				return
			}
			const name = this.name
			const email = this.email
			const mobile = this.mobile
			const message = this.message
			this.disabled = true
			this.enviar = 'Enviando...'
			axios.post('https://formspree.io/juan@digiartes.com', {
				name,
				email,
				mobile,
				message
			}).then(() => {
				this.disabled = false
				this.enviar = 'Enviar otro?'
				this.name = ''
				this.email = ''
				this.mobile = ''
				this.message = ''
			}).catch(() => {
				this.disabled = false
				this.enviar = 'Intenta De Nuevo'
			})
		}
	}
}
</script>

<style lang="sass">
    @import ../../assets/sass/main.sass
</style>