<template lang="pug">
	.digiartes-services
		.digiartes-service.diseno-web-digiartes(v-bind:class="{ hideme: hideme1 }")
			figure
				img(src="/images/diseno-web-digiartes.svg")
			p Diseño y Desarrollo Web a la medida.
		.digiartes-service.apps-moviles-digiartes(v-bind:class="{ hideme: hideme2 }")
			figure
				img(src='/images/app-movil-digiartes.svg')
			p Desarrollo de Apps Móviles
		.digiartes-service.ecommerce-digiartes(v-bind:class="{ hideme: hideme3 }")
			figure
				img(src='/images/ecommerce-digiartes.svg')
			p Desarrollo de Sitios de Comercio en Linea
		.digiartes-service.seo-digiartes(v-bind:class="{ hideme: hideme4 }")
			figure
				img(src='/images/seo-digiartes.svg')
			p Optimización para Buscadores y mucho más...
</template>

<script>
	export default {
		data () {
			if (this.$route.name === 'index') {
				return {
					hideme1: true,
					hideme2: true,
					hideme3: true,
					hideme4: true,
					delay: 400,
					topWindow: 400
				}
			} else if (this.$route.name === 'servicios') {
				return {
					hideme1: false,
					hideme2: false,
					hideme3: false,
					hideme4: false
				}
			}
		},
		methods: {
			scrollEvent () {
				if (this.$route.name === 'index' && window.scrollY > this.topWindow) {
					window.setTimeout(() => { this.hideme1 = false }, this.delay)
					window.setTimeout(() => { this.hideme2 = false }, (this.delay * 2))
					window.setTimeout(() => { this.hideme3 = false }, (this.delay * 3))
					window.setTimeout(() => { this.hideme4 = false }, (this.delay * 4))
				}
			}
		},
		mounted () {
			window.addEventListener('scroll', this.scrollEvent)
		}
	}
</script>

<style lang="sass">

@import ../../assets/sass/main.sass

.digiartes-services
	@extend %container
	@extend %flexbox-box
	margin-bottom: 60px
	
.digiartes-service
	width: 220px
	text-align: center
	transition: all 0.6s ease-out 
	
	@media only screen and (max-width: 667px) 
		width: 90%
		margin: 0 auto
	

	figure
		display: flex
		justify-content: center	

</style>