<template lang="pug">
	figure.digiartes-trabajando
		img(src="~/assets/images/digiartes-trabajando.png")
</template>

<style lang="sass">
	.digiartes-trabajando 
		margin: 0 auto
		width: 1011px
		
		@media only screen and (max-width: 667px) 
			width: 100%
			overflow: hidden

			img
				transform: translateX(-300px)
</style>