<template lang="pug">
	.digiartes-slogan(v-bind:class="{ hideme }")
		h1 Una Agencia Diferente
		p Somos una agencia establecida para ayudarte a crear tu presencia digital. Crearemos tu página web, tu aplicación móvil o tu software a la medida y hecho para tus clientes.
</template>

<script>
	export default {
		data () {
			return {
				hideme: true
			}
		},
		methods: {
			scrollEvent () {
				if (window.scrollY > 180) {
					this.hideme = false
				}
			}
		},
		mounted () {
			window.addEventListener('scroll', this.scrollEvent)
		}
	}
</script>

<style lang="sass"> 
	@import ../../assets/sass/main.sass

	.digiartes-slogan
		@extend %inner-container
		text-align: center
		transition: all 0.6s ease-out
	
</style>