<template lang="pug">
section#digiartes-about
	.digiartes-about.a-la-medida(v-bind:class="{ hideme: hideme1 }")
		.text
			h3 Hecho para ti
			p Tu empresa requiere de tiempo y dedicación y tu presencia en la web no debe ser creada usando una plantilla. Nosotros nos dedicaremos a crear tu plataforma web, aplicación móvil o software completamente a la medida de tus propias expectativas y con el mayor retorno a tu inversión.
		.figure
			img(src='../../assets/images/digiartes-desk.png')
	.digiartes-about.para-tus-clientes(v-bind:class="{ hideme: hideme2 }")
		.figure
			img(src='../../assets/images/digiartes-laptop.png')
		.text
			h3 Hecho para tus clientes
			p Dedicamos nuestro tiempo a diseñar un proceso que sea sumamente agradable para ti y tus clientes; y así puedan enamorarse de tu sitio web y tus aplicaciones.
</template>

<script>
	export default {
		data () {
			if (this.$route.name === 'index') {
				return {
					hideme1: true,
					hideme2: true,
					delay: 400,
					topWindow: 800
				}
			} else {
				return {
					hideme1: false,
					hideme2: false
				}
			}
		},
		methods: {
			scrollEvent () {
				if (this.$route.name === 'index' && window.scrollY > this.topWindow) {
					this.hideme1 = false
					if (this.$route.name === 'index' && window.scrollY > (this.topWindow + 400)) {
						this.hideme2 = false
					}
				}
			}
		},
		mounted () {
			this.$event = window.addEventListener('scroll', this.scrollEvent)
		}
	}
</script>

<style lang="sass">
@import ../../assets/sass/main.sass

.digiartes-about
	position: relative 
	overflow: hidden
	@extend %container
	@extend %flexbox-box
	margin-bottom: 60px
	transition: all 0.6s ease-out

	.text
		width: 50%
		max-width: 500px
		
		@media only screen and (max-width: 667px) 
			width: 80%
		

	.figure
		width: 40% 
		
		@media only screen and (max-width: 667px)
			position: absolute
			right: 0
			top: 50%
			z-index: -10
		
		
</style>