<template lang="pug">
	.digiartes-tecnologias
		.figure
			img(src='~/assets/images/tecnologias-digiartes.png')
</template>

<style lang="sass">
	.digiartes-tecnologias
		width: 90%
		max-width: 1173px
		margin: 60px auto 
		overflow: hidden
		

		.figure img
			width: 100% 
				
			@media only screen and (max-width: 667px) 
				width: auto
				animation: 22s linear infinite alternate moveright

	@keyframes moveright
		from
			transform: translateX(0)
		to 
			transform: translateX(-1173px)
		
</style>