<template lang="pug">
	.mouse-scroll
		.scroller.uno
		.scroller.dos
</template>

<style lang="sass">
	.mouse-scroll
		margin: 0 auto 20px
		width: 80px
		height: 80px
		
		p.small
			font-size: 0.9rem
			color: white
			margin: 5px 0
		
	.scroller
		width: 40px
		height: 40px
		transform: rotate(45deg)
		margin: -10px auto
		border:
			right: 2px solid white
			bottom: 2px solid white

		animation:
			name: scroll
			duration: 1.2s
			timing-function: ease-in-out
			iteration-count: infinite
			
	.uno 
		animation-delay: .1s 
			
	.dos 
		animation-delay: .2s 

	@keyframes scroll
		0%
			opacity: 0
		20% 
			opacity: 1
		100% 
			opacity: 0
		
</style>