<template>
  <div>
    <nuxt/>
    <digiartes-footer/>
  </div>
</template>

<script>
import DigiartesFooter from '~/components/DigiartesFooter.vue'

export default {
	components: {
		DigiartesFooter
	}
}
</script>

<style lang="sass">
  @import ../assets/sass/main.sass
</style>