<template lang="pug">
	.main-container
		h1(v-if="error.statusCode === 404") Oh Oh! Está página no existe.
		h1(v-else) Oh Oh! Ha ocurrido un error.
		p Error {{ error.statusCode }}
		nuxt-link(to="/") Haz click para ir al inicio.
</template>

<script>
	export default {
		props: [ 'error' ],
		layout: 'pages'
	}
</script>

<style scoped lang="sass"> 
	@import ../assets/sass/main.sass

	.main-container
		margin-top: 80px
		text-align: center 
	
		p
			font-size: 1.5rem
</style>