<template>
  <div>
  	<digiartes-header/>
    <nuxt/>
    <digiartes-footer/>
  </div>
</template>

<script>
import DigiartesHeader from '../components/DigiartesHeader.vue'
import DigiartesFooter from '../components/DigiartesFooter.vue'

export default {
	components: {
		DigiartesHeader,
		DigiartesFooter
	}
}
</script>