<template lang="pug">
	.contact-form
		h1 Contáctenos Hoy mismo
		p Escríbemos a #[a(href="mailto:info@digiartes.com") info@digiartes.com]
		p Llámenos a #[a(href="tel:+5073220013") +507 322-0013]
		p ó escríbenos usando este formulario:

		contact-form
</template>

<script>
	import ContactForm from '~/components/HomeComponents/ContactForm.vue'
	export default {
		layout: 'pages',
		components: { ContactForm },
		head () {
			return { title: 'Digiartes | Contáctenos' }
		}
	}
</script>

<style lang="sass"> 
	@import ../assets/sass/main.sass

	.contact-form 
		@extend %inner-container
</style>