<template lang="pug">
	section#home
		.header-hero
			video-background
			logo-navigation
			.slogan
				h1.title Digiartes
				h2.subtitle Tu Agencia Web
				ul.services
					li Web
					li eCommerce
					li Apps
					li SEO
			mouse-scroll

		digiartes-slogan
		digiartes-services
		digiartes-about
		digiartes-tecnologias
</template>

<script>
import LogoNavigation from '~/components/HeaderComponents/LogoNavigation.vue'
import MouseScroll from '~/components/HomeComponents/MouseScroll.vue'
import VideoBackground from '~/components/HeaderComponents/VideoBackground.vue'
import DigiartesSlogan from '~/components/HomeComponents/DigiartesSlogan.vue'
import DigiartesServices from '~/components/HomeComponents/DigiartesServices.vue'
import DigiartesAbout from '~/components/HomeComponents/DigiartesAbout.vue'
import DigiartesTecnologias from '~/components/HomeComponents/DigiartesTecnologias.vue'

export default {
	components: {
		LogoNavigation,
		MouseScroll,
		VideoBackground,
		DigiartesSlogan,
		DigiartesServices,
		DigiartesAbout,
		DigiartesTecnologias
	}
}
</script>

<style lang="sass">
  @import ../assets/sass/main.sass
  
  .header-hero
    background: linear-gradient(45deg, transparentize($main-blue, 0.35), transparentize($main-blue, 0.35) 10%, transparentize($main-red, 0.35))
    height: 100vh
    min-height: 660px
    text-align: center

    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative

  .slogan
    align-self: center
    
    h1, h2, ul
      color: white

  .title
    font-family: $header-fonts
    font-size: 50px
    font-weight: bold
    margin-bottom: 20px

  .subtitle
    font-family: $header-fonts
    font-size: 40px
    font-weight: 300
    letter-spacing: 1px

  ul.services
    align-self: center
    margin: 0 auto
    list-style: none
    padding: 0
    @extend %flexbox-box
</style>
