<template lang="pug">
.main-content
	.nuestros-trabajos
		h1 Algunos de Nuestros Trabajos
		p Nuestros trabajos comprenden desde páginas web para mercadear, páginas de destino, intranets, aplicaciones webs para automatización de procesos y aplicaciones móviles. Nos enfocamos en trabajos para pequeñas empresas con grandes visiones.
</template>

<script>
export default {
	layout: 'pages',
	head () {
		return {
			title: 'Digiartes | Nuestros Servicios'
		}
	}
}
</script>

<style lang="sass">
@import ../assets/sass/main.sass

.nuestros-trabajos
	@extend %inner-container
</style>