<template lang="pug">
	.portal-clientes
		h1 Inicie sesión 
		p Para ver el avance de su proyecto y colaborar con nuestro equipo introduzca su correo electrónico y contraseña. La misma la podrá encontrar en la primera página de nuestro contrato.

		form
			label Correo Electrónico
				input(type="email" placeholder="tu@correo.com")
			label Contraseña
				input(type="password" placeholder="contraseña")
			input(type="submit" value="Iniciar Sesión")
</template>

<script>
	export default {
		layout: 'pages',
		head () {
			return { title: 'Digiartes | Portal para Clientes' }
		}
	}
</script>

<style lang="sass"> 
	@import ../assets/sass/main.sass

	.portal-clientes
		@extend %inner-container
</style>