<template lang="pug">
	.main-container
		.quienes-somos
			h1 Somos Tu Agencia Web
			p Somos una agencia creada para ayudarte a crear tu presencia digital. Hemos ayudado cientos de empresas a crear su presencia en la web desde nuestro año de fundación en 2012. Estamos en la ciudad de Panamá y servimos a todo el mundo.
		digiartes-about
		digiartes-trabajando
</template>

<script>
import DigiartesAbout from '~/components/HomeComponents/DigiartesAbout.vue'
import DigiartesTrabajando from '~/components/HomeComponents/DigiartesTrabajando.vue'

export default {
	layout: 'pages',
	components: {
		DigiartesAbout,
		DigiartesTrabajando
	},
	head () {
		return {
			title: 'Digiartes | Quienes Somos'
		}
	}
}
</script>

<style lang="sass">
@import ../assets/sass/main.sass

.quienes-somos
	@extend %inner-container
</style>