<template lang="pug">
	section#servicios
		.nuestros-servicios
			h1 Conoce Nuestros Servicios
			p Nos dedicamos a ayudarte a crear tus aplicaciones web y móviles. Aplicaciones que te ayudarán a ti, a tu equipo y tus clientes mejorar sus interacciones entre sí y su experiencia con tu empresa. Hecha un vistazo a nuestra lista de servicios.
		digiartes-services
</template>

<script>
	import DigiartesServices from '~/components/HomeComponents/DigiartesServices.vue'
	export default {
		layout: 'pages',
		components: {
			DigiartesServices
		},
		head () {
			return { title: 'Digiartes | Nuestros Servicios ' }
		}
	}
</script>

<style lang="sass">
	@import ../assets/sass/main.sass
	
	.nuestros-servicios 
		@extend %inner-container
	
</style>